.App {
  color: #343a40 !important;
  /* Celeste */
  /* background-color: #57cfff; */
  background-image: url("./assets/img/preview.jpg");
  min-height: 100vh;
}

.containerExt {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
}

.PersonalInfo {
}

.Name {
  font-family: "Lora", serif;
  font-size: 220%;
}

.Photo {
  width: 171px;
  height: 180px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.media {
  border-radius: 0.25rem;
  border: 1px solid #343a40;
}

.media-body {
  margin-top: 55px;
}
.card {
  background-color: rgb(
    255,
    255,
    255,
    0.6
  ); /*Generamos la opacidada de las cards*/
}

.card-header {
  text-align: center;
}

.drop1 {
  padding-right: 50px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #343a40;
  color: white;
  height: 50px;
}

.divFooter {
  padding-top: 10px;
}

ion-icon {
  color: white;
}
